{% extends "poll/base.html" %}
{% block title %}Homepage{% endblock %}
{% block main %}
    <div class="flex w-full items-center justify-center">
        <div class="w-full">
            <div class="w-full">
                <div class="bg-gray-100 w-full">
                    <h3 class="text-2xl text-center font-bold text-gray-700 ">Encuestas disponibles</h3>
                </div>
            </br>
            <div class="xl:h-screen w-full  items-center justify-center bg-gray-100 p-2 pt-4">
                <div class="grid grid-cols-1 md:grid-cols-2  gap-4">
                    {% for poll in polls %}
                        <div>
                            <div class="grid col-span-4 relative">
                                <div class="group shadow-lg hover:shadow-2xl duration-200 delay-75 w-full bg-white rounded-sm py-6 pr-6 pl-9">
                                    <div>
                                        <p class="text-2xl font-bold text-gray-500 group-hover:text-gray-700">
                                            {{ poll.question }}
                                        </p>
                                        <div class="pt-4">
                                            <a href="{% url 'vote' poll.id %}"
                                               class="bg-gray-400 group-hover:bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-full">Votar</a> &nbsp;
                                        <a href="{% url 'results' poll.id %}"
                                           class="bg-gray-400 group-hover:bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded-full">Mirar resultados</a> &nbsp;
                                </div>
                            </div>
                            <!-- Color -->
                            <div class="bg-blue-400 group-hover:bg-blue-600 h-full w-4 absolute top-0 left-0"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}
